:root {

  --bk: rgba(2, 0, 36, 1);

  --gn: rgba(3, 107, 82, 1);

  --cy: rgba(0, 212, 255, 1);
}

.album-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.album-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.album-name {
  align-items: flex-end;
  background: rgb(2, 0, 36);
  background-image: linear-gradient(51deg, var(--bk) 0%, var(--gn) 35%, var(--cy) 100%);
  color: white;
  display: flex;
  gap: 20px;
  padding: 50px;
  width: 100%;
}

.album-name-text h3 {
  font-size: 28px;
}

.album-name-text p {
  font-size: 24px;
}

.album-name img {
  background-color: black;
  width: 150px;
}

.album-tracks {
  padding: 20px 50px;
  width: 100%;
}
