.album-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.album-description {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.album-name {
  align-items: flex-end;
  background: rgb(2,0,36);
  background: linear-gradient(51deg, rgba(2,0,36,1) 0%, rgba(3,107,82,1) 35%, rgba(0,212,255,1) 100%);
  color: white;
  display: flex;
  gap: 20px;
  padding: 50px;
  width: 100%;
}

.album-name-text h3 {
  font-size: 28px;
}

.album-name-text p {
  font-size: 24px;
}

.album-name img {
  width: 150px;
  background-color: black;
}

.album-tracks {
  padding: 20px 50px;
  width: 100%;
}

.track {
  align-items: center;
  border-top: 1px solid #e1e5eb;
  border-bottom: 1px solid #e1e5eb;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.track-name-favorite {
  align-items: center;
  display: flex;
  gap: 25px;
}

.checkbox-container {
  position: relative;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  cursor: pointer;
  left: 1px;
  top: 2px;
}

.checkbox-container input[type="checkbox"] {
  margin: 0;
}

.fa-solid.fa-heart {
  color: rgb(206, 17, 17);
}
